
body,html{
    margin: 0;
    padding: 0;
}
.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    place-content: center;
    text-align: center;
  }
  
header {
    padding: 1rem;
    grid-column: 1 / 4;
    background-color: aqua;
  }

.left-side {
    grid-column: 1 / 2;
    background-color: orange;
    padding: 5rem;
  }

main {
    grid-column: 2 / 3;
    background-color: red;
    height: 86vh;
  }

.right-side {
    grid-column: 3 / 4;
    background-color: cornflowerblue;
    padding: 5rem;
  }

footer {
    grid-column: 1 / 4;
    background-color: greenyellow;
    padding: 1rem;
  }